build/
.cache/
thrid_party/spdlog/.github/
thrid_party/spdlog/.gitignore
thrid_party/spdlog/.git
thrid_party/spdlog/example/
thrid_party/spdlog/logos/
thrid_party/spdlog/scripts/
thrid_party/spdlog/tests/
thrid_party/spdlog/.clang-format
thrid_party/spdlog/.clang-tidy
