build/
.cache/
third_party/spdlog/.github/
third_party/spdlog/.gitignore
third_party/spdlog/.travis.yml
third_party/spdlog/example/
third_party/spdlog/logos/
third_party/spdlog/scripts/
third_party/spdlog/tests/
third_party/spdlog/.clang-format
third_party/spdlog/.clang-tidy
third_party/spdlog/appveyor.yml
third_party/spdlog/cmake/
third_party/spdlog/.git-blame-ignore-revs
third_party/spdlog/.gitattributes
